<marquee direction="scroll">
    <img src="https://media1.tenor.com/images/abb9bb0bb79865bfc4ac963d4c30eb7a/tenor.gif?itemid=11191352" height="75" width="75">
</marquee>

@model Wedding

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding <a href="dashboard" class="btn btn-primary">Dashboard</a> <a href="/logout" class="btn btn-danger">Log Out</a></h1>
<h4>Date: @Model.Date.ToString("MMMM d, yyy - h:mm tt")</h4>
<h4>Guests:</h4>
<ul>
    @foreach (var Assossication in @Model.Assossications)
    {
        <li>@Assossication.Guest.FirstName @Assossication.Guest.LastName</li>
    }
</ul>